<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml" xmlns:th="http:/ /www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Taco Cloud</title>
        <link th:href="@{/styles.css}" rel="stylesheet">
    </head>
    
    <body>
        <h1>Welcome to...</h1>
        <img th:src="@{/images/TacoCloud.png}" />

        <p>Click <a th:href="@{/design}">here</a> for a customized Taco</p>
    </body>
</html>